.signup{
    background:  url('../../assets/user_bg.svg');
    height: 100%;
    form{
        width:50%;
        margin:30px auto 0;
    }
}

@media (max-width: 640px) {
    .signup{
        form{
            width: 75%;
        }
    }
}