.clearfix::before{
    content:'';
    display: block;
    clear:both;
}
.createFolder-Wrapper{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,.3);
    display: none;
    justify-content: center;
    align-items:center;
    z-index:3;
    &.active{
      display: flex;
    }
    .createFolder{
        background:white;
        width:300px;
        padding-bottom:15px;
        border-radius: 5px;
        position: relative;
        .close{
            position: absolute;
            right:1rem;
            top:1rem;
            cursor: pointer;
        }
        h3{
            text-align:center;
            margin-top:15px;
            margin-bottom:10px;
            font-weight:normal;
        }
        .msg{
            padding: 0 1rem;
            p{
                margin-bottom: 0.5rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .createActions{
            display: flex;
            justify-content: center;
            .btn{
                font-size:14px;
                border-radius:4px;
                outline:none;
                cursor:pointer;
                background:#fff;
                white-space:nowrap;
                line-height:1;
                padding:10px 25px;
                border:1px solid #c4c4c4;
                margin: 0 1rem;
            }
            .btn-enter{
                color:#fff;
                background-color:#20a0ff;
                border-color:#20a0ff;
            }
            .btn-enter:hover{
                background:#4db3ff;
                border-color:#4db3ff;
            }
            .btn-cancel:hover{
                color:#20a0ff;
                border-color: #20a0ff;
            }
        }
        
    }
}
