@import '../../scss/varible.scss';
.app{
   display: flex;
   height: 100%;

}
.left-side{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px 1fr;
    border-right: 1px solid $borderColor;
    background: $background;
    position: relative;
    grid-template-areas: 
      "a"
      "b"
      "c";
    .users{
       grid-area: a; 
    }
    .search{
        grid-area: b;
    }
    .friends{
        grid-area: c;
    }
}
.right-side{
    flex:1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 160px;
    grid-template-areas: 
      "d"
      "e"
      "f";
    .sendMessage{
        grid-area: f;
    }
    .chatPanel{
        grid-area: e;
    }
    .chatUser{
        grid-area: d;
    }
}


@media (max-width: 640px){
    .left-side{
        position: absolute;
        left: -300px;
        width: 300px;
        height: calc(100vh - 80px);
        top: 80px;
        transform: translateX(0);
        transition: transform .5s ease;
    }
    .left-side.show{
        transform: translateX(300px);
    }
    
}