@import '../../scss/varible.scss';
.app{
   display: flex;
   height: 100%;
   user-select: none;
}
.left-side{
    width: 300px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $borderColor;
    background: $background;
    position: relative;
    .users{
       height: 80px;
    }
    .search{
       height: 80px;
    }
    .friends{
        flex:1;
    }
}
.right-side{
    flex:1;
    display: flex;
    flex-direction: column;
    .sendMessage{
        height: 160px;
    }
    .chatPanel{
        flex: 1;
    }
    .chatUser{
        height: 80px;
    }
}


@media (max-width: 640px){
    .left-side{
        position: absolute;
        left: -300px;
        width: 300px;
        height: calc(100vh - 80px);
        top: 80px;
        transform: translateX(0);
        transition: transform .5s ease;
    }
    .left-side.show{
        transform: translateX(300px);
    }
    
}