@import '../../scss/varible.scss';
.sendMessage{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 10px;
    border-top: 1px solid $borderColor;
    textarea{
        width:100%;
        flex:1;
        border: none;
        outline: none;
        resize: none;
        padding: 1rem;
    }
}