@import '../../scss/varible.scss';
.search{
    border-bottom: 1px solid $borderColor;
    padding: 1rem;
    .s-icon{
        margin-right: 1rem;
    }
    .search-input{
        position: relative;
        .close{
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            right: 0.5rem;
            top:50%;
            transform: translateY(-50%);
            display: none;
            cursor: pointer;
        }
        .isShowResult{
            display: block;
        }
    }
    .searchResult{
        position: absolute;
        top:77px;
        bottom: 0rem;
        left:0;
        width: 100%;
        // transform: translateY(100%);
        background: $background;
        display: none;
    }
    .isShowResult{
        display: block;
    }
    .empty-data{
        text-align: center;
        margin-top:1rem;
    }
    .searchList{
        height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar{display: none;}
        li{
            padding: 1rem;
            border-bottom: 1px solid $borderColor;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .f-user{
                display: flex;
                align-items: center;
                .avatar{
                   margin-right: 1rem;
                  
                }
                .name{
                    font-weight: 700;
                 }
            }
        }
    }
}