.login{
    background:  url('../../assets/user_bg.svg');
    height: 100%;
    user-select: none;
    form{
        width:50%;
        margin:30px auto 0;
    }
}

@media (max-width: 640px) {
    .login{
        form{
            width: 75%;
        }
    }
}