@import './varible.scss';
*,*::after,**::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul,ol{
   list-style: none;
   padding:0;
   margin: 0;
}
h1,h2,h3,h4,h5,p{font-weight: normal;margin:0;padding:0;}
body,html,#root{
    height: 100%;
    font-family: 'sans-serif';
    font-size: 16px;
}
html{
    font-size: 16px;
}

.icon{
  width: 40px;
  height: 40px;
  vertical-align: middle;
  fill: rgba(0,0,0,.2);
}
.icon-16{
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.icon-24{
    width: 24px;
    height:24px;
    vertical-align: middle;
    fill: rgba(0,0,0,.8);
}
.avatar{
    width: 40px;
    height: 40px;
    img{
       width:100%;
       height: 100%;
       vertical-align: middle;
       border-radius: 5px;
    }
}
.no-avatar-u{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $userAvatar;
    cursor: pointer;
}
.no-avatar-f{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $friendAvatar;
    cursor: pointer;
    color: #fff;
}
.notification{
    min-width: 30%;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    background-color: #edf2fc;
    transition: opacity .3s,transform .4s;
    // overflow: hidden;
    padding: 15px 15px 15px 20px;
    display: flex;
    align-items: center;
}

.notification.success{
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a;
}
.notification.warn{
    background-color: #fdf6ec;
    border-color: #faecd8;
    color: #e6a23c;
}
.notification.error{
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c;
}